##Dictionaries in Python Worksheet 6.1

Question - 1 : Write a python  program to given below are the two lists convert it into the dictionary .

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [ ]:
dict1={"ten":10,"twenty":20,"thirty":30}
dict1.keys()

dict_keys(['ten', 'twenty', 'thirty'])

In [ ]:
dict1.values()

dict_values([10, 20, 30])

In [ ]:
dict1["ten"]

10

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

d = {}.fromkeys(keys , values)

d

{'Ten': [10, 20, 30], 'Twenty': [10, 20, 30], 'Thirty': [10, 20, 30]}

Question - 2 : Write a python program to delete set of keys from Python Dictionary

MyDict = {
  "name": "Rajit",
  "age":20,
  "salary": 8000000000,
  "city": "Agra"
  
}

keysToRemove = ["name", "salary"]

output:

{ 'age': 20 , 'city': 'Agra'}

In [ ]:
#write your code here

In [6]:
dict1={"name":"rajit","age":20,"salery":8000000000,"city":"agra"}
dict1

{'name': 'rajit', 'age': 20, 'salery': 8000000000, 'city': 'agra'}

In [8]:
del dict1['salery']
del dict1['name']
dict1

{'age': 20, 'city': 'agra'}

In [9]:
 MyDict = {
  "name": "Rajit",
  "city": "Agra",
  "age":20,
  "salary": 8000000000


}

#keysToRemove = ["name", "salary"]


MyDict.pop('name')
MyDict.pop('salary')

MyDict

{'city': 'Agra', 'age': 20}

Question - 3 : Write a python program to concatenate following dictionaries to create a new one.

Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#write your code here

In [10]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3):
   dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Question - 4 : Write a python program to check if a value 200 exists in a dictionary.

Dict = {'a': 100, 'b': 200, 'c': 300}

In [ ]:
#write your code here

False

In [11]:
Dict = {'a': 100, 'b': 200, 'c': 300}
print(200 in Dict.values())

True

Question - 5 : Write a python program to rename key <b>city</b> to <b>location</b> in the following dictionary.

MyDict = {
  "name": "Rajit",
  "age":21,
  "salary": 8000000000,
  "city": "Agra"
  
}

In [ ]:
#write your code here

SyntaxError: ignored

In [12]:
MyDict = {
  "name": "Rajit",
  "age":21,
  "salary": 8000000000,
  "city": "Agra"

}

MyDict['location'] = MyDict['city']
MyDict.pop("city")

print(MyDict)

{'name': 'Rajit', 'age': 21, 'salary': 8000000000, 'location': 'Agra'}

Question - 6 : Write a python program to get the key corresponding to the minimum value from the following dictionary.

sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}


output:
Math

In [ ]:
#write your code here

In [13]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}


minVal = min(sampleDict, key=sampleDict.get)

print(minVal)

Math

Question - 7 : Write a python program to given a Python dictionary, Change Shivaâ€™s salary to 8500

Dict1 = {

     'emp1': {'name': 'Ram', 'salary': 7500},

     'emp2': {'name': 'Shyam', 'salary': 8000},

     'emp3': {'name': 'Shiva', 'salary': 6500}

}

output:

Dict1 = {
  
     'emp1': {'name': 'Ram', 'salary': 7500},
     'emp2': {'name': 'Shyam', 'salary': 8000},
     'emp3': {'name': 'Shiva', 'salary': 8500}

}

In [ ]:
#write your code here

In [14]:
Dict1 = {

     'emp1': {'name': 'Ram', 'salary': 7500},

     'emp2': {'name': 'Shyam', 'salary': 8000},

     'emp3': {'name': 'Shiva', 'salary': 6500}

}

Dict1['emp3']['salary'] = 8500
print(Dict1)

{'emp1': {'name': 'Ram', 'salary': 7500}, 'emp2': {'name': 'Shyam', 'salary': 8000}, 'emp3': {'name': 'Shiva', 'salary': 8500}}



```
# This is formatted as code
```

Question - 8 : Write a python program to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

Dictionary ( n = 5) :

Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#write your code here

In [15]:
n=int(input("Input a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Input a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Question - 9 : Write a python program Write a Python program to multiply all the items in a dictionary.

my_dict = {'data1':100,'data2':-54,'data3':247}


 Output:
-1333800

In [ ]:
#write your code here

In [16]:
my_dict = {'data1':100,'data2':-54,'data3':247}

lt = my_dict.values()

lt1 = list(lt)
n=len(lt1)
m = 1

for x in range(0 , n):
  m=lt1[x]*m

print(m)

-1333800

Question - 10 : Write a python program  to get the maximum and minimum value in a dictionary.

:

my_dict = {'x':500, 'y':5874, 'z': 560}

 Output:

Maximum Value:  5874                                                                                          
Minimum Value:  500

In [17]:
#write your code here

In [18]:
my_dict = {'x':500, 'y':5874, 'z': 560}

lt = list(my_dict.values())

print("Maximum value :  ",max(lt))

print("Minimum value :  ",min(lt))

Maximum value :   5874
Minimum value :   500