In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/big-bang-theory-all-seasons-dataset/dataset.csv

## **Creating a Dataframe**

In [3]:
empoyees = [('jack', 34, 'Sydney', 155) ,
        ('Riti', 31, 'Delhi' , 177) ,
        ('Aadi', 16, 'Mumbai', 81) ,
        ('Mohit', 31,'Delhi' , 167) ,
        ('Veena', 12, 'Delhi' , 144) ,
        ('Shaunak', 35, 'Mumbai', 135 ),
        ('Shaun', 35, 'Colombo', 111)
        ]
# Create a DataFrame object
df = pd.DataFrame(empoyees, columns=['Name', 'Age', 'City', 'Marks'])
print(df)

      Name  Age     City  Marks
0     jack   34   Sydney    155
1     Riti   31    Delhi    177
2     Aadi   16   Mumbai     81
3    Mohit   31    Delhi    167
4    Veena   12    Delhi    144
5  Shaunak   35   Mumbai    135
6    Shaun   35  Colombo    111

## **Checking the datatypes of Dataframe**

In [4]:
print(df.dtypes)

Name     object
Age       int64
City     object
Marks     int64
dtype: object

## **Changing datatype from int to float**

In [5]:
# Change data type of column 'Marks' from int64 to float64
df['Marks'] = df['Marks'].astype('float64')

In [6]:
df.dtypes

Name      object
Age        int64
City      object
Marks    float64
dtype: object

## **Changing datatype from int to Object(string)**

In [7]:
df['Age'] = df['Age'].astype('object')

In [8]:
df.dtypes

Name      object
Age       object
City      object
Marks    float64
dtype: object

In [17]:
df1 = pd.read_csv("/kaggle/input/big-bang-theory-all-seasons-dataset/dataset.csv")

In [18]:
df1

,Unnamed: 0,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions),Season
0,0,1,1,"""Pilot""",James Burrows,Chuck Lorre & Bill Prady,2007-09-24,276023,9.52,1
1,1,2,2,"""The Big Bran Hypothesis""",Mark Cendrowski,Story by : Chuck Lorre & Bill PradyTeleplay by...,2007-10-01,3T6601,8.58,1
2,2,3,3,"""The Fuzzy Boots Corollary""",Mark Cendrowski,Story by : Chuck LorreTeleplay by : Bill Prady...,2007-10-08,3T6602,8.36,1
3,3,4,4,"""The Luminous Fish Effect""",Mark Cendrowski,Story by : Chuck Lorre & Bill PradyTeleplay by...,2007-10-15,3T6603,8.15,1
4,4,5,5,"""The Hamburger Postulate""",Andrew D. Weyman,Story by : Jennifer GlickmanTeleplay by : Dave...,2007-10-22,3T6604,8.81,1
...,...,...,...,...,...,...,...,...,...,...
274,274,275,20,"""The Decision Reverberation""",Mark Cendrowski,Story by : Steven Molaro & Steve Holland & Tar...,2019-04-25,T12.16020,11.80,12
275,275,276,21,"""The Plagiarism Schism""",Nikki Lorre,Story by : Eric Kaplan & Maria Ferrari & Adam ...,2019-05-02,T12.16021,12.40,12
276,276,277,22,"""The Maternal Conclusion""",Kristy Cecil,Story by : Steve Holland & Eric Kaplan & Jerem...,2019-05-09,T12.16022,12.50,12
277,277,278,23,"""The Change Constant""",Mark Cendrowski,Chuck Lorre & Steve Holland & Steven Molaro & ...,2019-05-16,T12.16023,18.50,12
278,278,279,24,"""The Stockholm Syndrome""",Mark Cendrowski,Chuck Lorre & Steve Holland & Steven Molaro & ...,2019-05-16,T12.16024,18.50,12

## **Cheking info( )**

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              279 non-null    int64
 1   No.overall              279 non-null    int64
 2   No. inseason            279 non-null    int64
 3   Title                   279 non-null    object
 4   Directed by             279 non-null    object
 5   Written by              279 non-null    object
 6   Original air date       279 non-null    object
 7   Prod.code               279 non-null    object
 8   U.S. viewers(millions)  279 non-null    float64
 9   Season                  279 non-null    int64
dtypes: float64(1), int64(4), object(5)
memory usage: 21.9+ KB

## **Changing type of one series from int to object(string)**

In [20]:
df1["Season"] = df1["Season"].astype("object")

## **Checking info again to check the type**

In [22]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              279 non-null    int64
 1   No.overall              279 non-null    int64
 2   No. inseason            279 non-null    int64
 3   Title                   279 non-null    object
 4   Directed by             279 non-null    object
 5   Written by              279 non-null    object
 6   Original air date       279 non-null    object
 7   Prod.code               279 non-null    object
 8   U.S. viewers(millions)  279 non-null    float64
 9   Season                  279 non-null    object
dtypes: float64(1), int64(3), object(6)
memory usage: 21.9+ KB

## **Changing type of one series from int to object(string)**

In [23]:
df1["U.S. viewers(millions)"]=df1["U.S. viewers(millions)"].astype("object")

In [25]:
df1["Original air date"] = pd.to_datetime(df1["Original air date"])

In [26]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279 entries, 0 to 278
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              279 non-null    int64
 1   No.overall              279 non-null    int64
 2   No. inseason            279 non-null    int64
 3   Title                   279 non-null    object
 4   Directed by             279 non-null    object
 5   Written by              279 non-null    object
 6   Original air date       279 non-null    datetime64[ns]
 7   Prod.code               279 non-null    object
 8   U.S. viewers(millions)  279 non-null    object
 9   Season                  279 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 21.9+ KB