##List Manipulation - Worksheet(5.2)

1 - Write a Python program to print a marged list after removing the 1st and 3th elements from first list LT.  

LT =  ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

lt = ['Pink', 'Yellow']

In [ ]:
#write your code here.

In [2]:
LT = ['Red' , 'Green' , 'White' , 'Black' , "Pink" , "Yellow"]
lt = ["Pink" , "Yellow"]

LT.pop(1)
LT.pop(3)

print(LT+lt)

['Red', 'White', 'Black', 'Yellow', 'Pink', 'Yellow']

2 - . Write a Python program to print the numbers of a specified list after removing even numbers from it.

lt = [1,2,3,4,5,6,7,8,9,10,12,12,13,15]

In [ ]:
#write your code here.

In [3]:
lt=[1,2,3,4,5,6,7,8,9,10,12,12,13,15]

lt1=[]

n = len(lt)

for x in range(0, n):
  if lt[x]%2==0:
    pass
  else:
    lt1.append(lt[x])

lt1

[1, 3, 5, 7, 9, 13, 15]

3 - Write a Python program to generate all permutations of a list .

In [ ]:
#write your code here.

In [4]:
import itertools
print(list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

4 - Write a Python program to get the difference between the two lists.

lt = [1,2,3,4,5,7,9]

lt1 = [2,3,4,5,6,7]

In [ ]:
#write your code here.

In [5]:
lt=[1,2,3,4,5,7,9]
lt1= [2,3,4,5,6,7]


list_difference = []
for item in lt:
  if item not in lt1:
    list_difference.append(item)

print(list_difference)

[1, 9]

5 - Write a Python program to find the index of an item in a specified list.

item = 'R'

lt = ['A' , 'R' , 'S' , 'z']

In [ ]:
#write your code here.

In [6]:
lt = ['A' , 'R' , 'S' , 'Z']

n=len(lt)

for x in range(0 , n):
  if 'R' in lt[x]:
    print(x)
    break
  else:
    pass

1

6 - Write a Python program to append a second list into the first list.

lt = [1,2,3,4,5,6]

lt1 = [7,8,9,10,11]

In [ ]:
#write your code here.

In [8]:
lt = [1,2,3,4,5,6]

lt1= [7,8,9,10,10]

n=len(lt)

for  x in range(0 , n):
  lt1.append(lt[x])

lt1

[7, 8, 9, 10, 10, 1, 2, 3, 4, 5, 6]

7 - Write a Python program to create a list by concatenating a given list which range goes from 1 to n.

lt = ['p', 'q']

n = 5


 Output : ['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [ ]:
#write your code here.

In [7]:
my_list = ['p', 'q']
n = 5
new_list = ['{}{}'.format(x, y) for y in range(1, n+1) for x in my_list]
print(new_list)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

8 - Write a Python program to convert a list of multiple integers into a single integer.

lt =  [12, 34, 56]

Output: 123456

In [ ]:
#write your code here.

In [ ]:
lt=[12,34,56]

for i in lt:
    print(i, end="")

123456

9 - Write a Python program to convert a string into a list.

In [ ]:
#write your code here.

In [9]:
s= 'Jobaaj'

print(list(s))

['J', 'o', 'b', 'a', 'a', 'j']

10 -  Write a Python program to replace the last element in a list with another list.

lt = [1, 3, 5, 7, 9, 10]

lt1 =  [2, 4, 6, 8]

Output: [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
#write your code here.

In [10]:
lt = [1, 3, 5, 7, 9, 10]

lt1 =  [2, 4, 6, 8]

lt.pop()

print(lt+lt1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]