##Flow of control (Worksheet - 4.1)

####NOTE : Input take from user

1 - Write a program to check the number is 'Even' or 'Odd'.

In [ ]:
#write your code here

In [ ]:
num = int(input("Enter the number: "))
if num % 2 == 0:
  print(num,"is even.")
else:
  print(num, "is odd.")

In [ ]:
num=int(input("enter a numbver"))
if num %2==0:
  print (num,"is even")
else:
    print(num,"is odd")

enter a numbver9
9 is odd

2 - Write a program to print counting from 1 to 100 .

In [ ]:
#write your code here

In [ ]:
for i in range(1, 101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [ ]:
for i in range(100):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

3 - Write a program which prints all the divisors of a number.

In [ ]:
def printdivisors(n):
  i=1
  while (i<=n):
    if (n % i == 0) :
      print(i)
      i=i+1
printdivisors(12)

1
2
3
4

In [ ]:
def printDivisors(n) :
    i = 1
    while i <= n :
        if (n % i==0) :
            print(i)
        i = i + 1
printDivisors(8)

1
2
4
8

In [ ]:
def print divisors (n):
i=1
while(i<=n):
 if(n℅i==0):
  print(i)
i=i+1

4 - Write a program to check if input number is a prime number.

In [ ]:
#write your code here

In [ ]:
num = int(input("Enter a number: "))

if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           print(i,"times",num//i,"is",num)
           break
   else:
       print(num,"is a prime number")

else:
   print(num,"is not a prime number")

Enter a number: 4
4 is not a prime number
2 times 2 is 4

5 - Write a program to take the input of a number from 1 to 100, then print 'fizz' if the number is a multiple of 3 or print 'buzz' if the number is a multiple of 5, and print 'fizzbuzz' if both the number is multiple of 3 and multiple of 5

In [ ]:
#write your code here

In [1]:
n=int(input())
if(n%3==0 and n%5==0):
  print('fizzbuzz')
elif(n%3==0):
  print('fizz')
elif(n%5==0):
  print('buzz')

15
fizzbuzz

In [4]:
n=int(input())
if(n%3==0 and n%5==0):
 print('fizzbuzz')
elif(n%3==0):
 print('fizz')
elif(n%5==0):
 print('buzz')

27
fizz

6 - Write a program to calculate factorial of a number.

In [ ]:
#write your code here

In [ ]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

7 - Write a program to print all the numbers between 100 and 200 which are divisible by 7 but are not a multiple of 5.

In [ ]:
#write your code here

In [ ]:
for x in range(100,200):
  if x%7==0 and x%5!=0:
    print(x)

8 - Write a Python program to convert temperatures into celsius, fahrenheit.

'Formula : c/5 = f-32/9'


[ where c = temperature in celsius and f = temperature in fahrenheit ]

Output :

60°C is 140 in Fahrenheit

45°F is 7 in Celsius

In [ ]:
#write your code here

In [ ]:
# Collect input from the user
f = float(input('Enter temperature in Fahrenheit: '))

# calculate temperature in Fahrenheit
c = 5 * (f - 32)/9
print('%0.1f  Celsius is equal to %0.1f degree Fahrenheit'%(c,f))

Enter temperature in Fahrenheit: 60
15.6  Celsius is equal to 60.0 degree Fahrenheit

9 - Write a Python program to construct the following pattern, using a nested for loop.

output :

1

12

123

1234

12345

In [ ]:
#write your code here

In [ ]:
for i in range(1,6):
  print("")
  for j in range(1,i+1):
    print(j,end="")

1
12
123
1234
12345

10 -  Write a Python program to construct the following pattern, using a nested for loop.

output :

1

22

333

4444

55555

In [ ]:
#write your code here

In [ ]:
for i in range(1,6):
  print("")
  for j in range(1,i+1):
    print(i,end="")