##Flow of control - Worksheet(4.3)

1 - Write a Python program to get the Fibonacci series between 0 to 50.

Note : The Fibonacci Series is the series of numbers :
0, 1, 1, 2, 3, 5, 8, 13, 21, ....

Every next number is found by adding up the two numbers before it.

Expected Output : 1 1 2 3 5 8 13 21 34.

In [ ]:
#write your code here.

In [11]:
n = int(input("Enter the value of 'n': "))
a = 0
b = 1
sum = 0
count = 1
print("Fibonacci Series: ", end = " ")
while(count <= n):
  print(sum, end = " ")
  count += 1
  a = b
  b = sum
  sum = a + b

Enter the value of 'n': 9
Fibonacci Series:  0 1 1 2 3 5 8 13 21

2 - Write a Python program that accepts a string and calculate the number of digits and letters.

Input : Python 3.2

Output :

Letters 6

Digits 2

In [ ]:
#write your code here

In [10]:
string = "python 3.2"

total_digits = 0
total_letters = 0


for s in string:

    if s.isnumeric():
        total_digits += 1

    else:
        total_letters += 1

print("Total letters found :", total_letters)

print("Total digits found :", total_digits)
#write your code here.

Total letters found : 8
Total digits found : 2

3 - Write a Python program to construct the following pattern, using a nested for loop.

1

1 1  

1 1 1

1 1 1 1

1 1 1 1 1

1 1 1 1

1 1 1

1 1

1

In [ ]:
#write your code here.

In [12]:
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("1", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("1", end=' ')
    print("\r")

1
1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1
1 1 1
1 1
1

4 -  Write a Python program to construct the following pattern, using a nested for loop.

1 0 1 0 1

1 0 1 0 1

1 0 1 0 1

1 0 1 0 1

1 0 1 0 1

In [ ]:
#write your code here.

In [7]:
for i in range(1,6):
  print("")
  for j in range(1,6):
    if j%2==0:
      print("0" , end= " ")
    else:
      print("1" , end= " ")

1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1
1 0 1 0 1

5 -  Write a Python program to construct the following pattern, using a nested for loop.

1 2 2 2 2

2 1 2 2 2

2 2 1 2 2

2 2 2 1 2

2 2 2 2 1

In [ ]:
#write your code here.

In [6]:
for i in range(1,6):
  print("")
  a = 0
  for j in range(1,6):
    a += 1
    if i==a:
      print("1" , end= " ")
    else:
      print("2" , end= " ")

1 2 2 2 2
2 1 2 2 2
2 2 1 2 2
2 2 2 1 2
2 2 2 2 1

6 -  Write a Python program to construct the following pattern, using a nested for loop.


5 4 3 2 1

5 4 3 2 1

5 4 3 2 1

5 4 3 2 1

5 4 3 2 1

In [ ]:
#write your code here.

In [5]:
for i in range(1,6):
  print("")
  for j in range(5 ,0 , -1):
     print(j , end= " ")

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

7 - Write a program print the following pattern using for loop

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

In [ ]:
#write your code here.

In [4]:
for i in range(1,6):
  print("")
  for j in range(6-i ,0 , -1):
     print(j , end= " ")

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

8 - Write a program to reverse the below string using for loop.

st = "I am Rajit"

In [ ]:
#write your code here.

In [3]:
st = " I am Rajit"

n = len(st) - 1

while n>=0:
  st1 = st[n]
  n -= 1
  print(st1 , end= " ")

t i j a R   m a   I

9 - Write a program print the following pattern using for loop

1 1 1 1 1

0 0 0 0 0

1 1 1 1 1

0 0 0 0 0

1 1 1 1 1

In [ ]:
#write your code here.

In [2]:
for i in range(1, 6):
  print("")
  for j in range(1,6):
    if i%2==0:
      print('0' , end=" ")
    else:
      print('1' , end=" ")

1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1

10 - Write a program to count similar letter to giving string.

S = " i am python programmer".

In [ ]:
#write your code here.

In [1]:
chars = "abcdefghijklmnopqrstuvwxyz"
check_string = "i am python programmer"

for char in chars:
  count = check_string.count(char)
  if count > 1:
    print(char, count)

a 2
m 3
o 2
p 2
r 3