In [1]:
# Import the library
import pandas as pd

In [2]:
# Get the data
df = pd.read_csv("/content/drive/MyDrive/Project/Practice set/India COVID-19 Status")

In [3]:
# Check the head()
df.head()

,StateCode,State Name,Active Cases (Yesterday),Positive Cases (Yesterday),Cured Cases (Yesterday),Death Cases (Yesterday),Active Cases (Today),Positive Cases (Today),Cured Cases (Today),Death Cases (Today),Last Updated (IST)
0,35,Andaman and Nicobar Islands,7,10737,10601,129,9,10740,10602,129,03-Nov-2022 10:47:09
1,28,Andhra Pradesh,139,2338949,2324077,14733,129,2338961,2324099,14733,03-Nov-2022 10:47:09
2,12,Arunachal Pradesh,4,66879,66579,296,5,66880,66579,296,03-Nov-2022 10:47:09
3,18,Assam,2562,746059,735462,8035,2558,746065,735472,8035,03-Nov-2022 10:47:09
4,10,Bihar,98,851214,838814,12302,76,851215,838837,12302,03-Nov-2022 10:47:09

In [4]:
# Assign a variable for one of the columns
st = df.StateCode

In [5]:
# Check the head of the series
st.head()

0    35
1    28
2    12
3    18
4    10
Name: StateCode, dtype: int64

In [6]:
# Changing one of the data from the series using .iloc[]
st.iloc[2]=455

<ipython-input-6-f85ba5798741>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  st.iloc[2]=455

In [7]:
df

,StateCode,State Name,Active Cases (Yesterday),Positive Cases (Yesterday),Cured Cases (Yesterday),Death Cases (Yesterday),Active Cases (Today),Positive Cases (Today),Cured Cases (Today),Death Cases (Today),Last Updated (IST)
0,35,Andaman and Nicobar Islands,7,10737,10601,129,9,10740,10602,129,03-Nov-2022 10:47:09
1,28,Andhra Pradesh,139,2338949,2324077,14733,129,2338961,2324099,14733,03-Nov-2022 10:47:09
2,455,Arunachal Pradesh,4,66879,66579,296,5,66880,66579,296,03-Nov-2022 10:47:09
3,18,Assam,2562,746059,735462,8035,2558,746065,735472,8035,03-Nov-2022 10:47:09
4,10,Bihar,98,851214,838814,12302,76,851215,838837,12302,03-Nov-2022 10:47:09
5,4,Chandigarh,10,99299,98108,1181,16,99305,98108,1181,03-Nov-2022 10:47:09
6,22,Chhattisgarh,160,1177550,1163247,14143,157,1177571,1163271,14143,03-Nov-2022 10:47:09
7,26,Dadra and Nagar Haveli and Daman and Diu,1,11588,11583,4,1,11588,11583,4,03-Nov-2022 10:47:09
8,7,Delhi,353,2006266,1979404,26509,306,2006324,1979509,26509,03-Nov-2022 10:47:09
9,30,Goa*,103,258749,254633,4013,105,258773,254655,4013,03-Nov-2022 10:47:09
10,24,Gujarat,383,1276839,1265417,11039,423,1276896,1265434,11039,03-Nov-2022 10:47:09
11,6,Haryana,225,1056186,1045249,10712,208,1056215,1045295,10712,03-Nov-2022 10:47:09
12,2,Himachal Pradesh,29,312458,308218,4211,29,312460,308220,4211,03-Nov-2022 10:47:09
13,1,Jammu and Kashmir,29,479295,474481,4785,32,479300,474483,4785,03-Nov-2022 10:47:09
14,20,Jharkhand,48,442544,437165,5331,49,442546,437166,5331,03-Nov-2022 10:47:09
15,29,Karnataka,2184,4069097,4026614,40299,2174,4069207,4026734,40299,03-Nov-2022 10:47:09
16,32,Kerala,3148,6822138,6747602,71393,3116,6822408,6747899,71393,03-Nov-2022 10:47:09
17,37,Ladakh,7,29393,29155,231,7,29394,29156,231,03-Nov-2022 10:47:09
18,31,Lakshadweep,0,11415,11363,52,0,11415,11363,52,03-Nov-2022 10:47:09
19,23,Madhya Pradesh,63,1054762,1043924,10775,63,1054772,1043933,10776,03-Nov-2022 10:47:09
20,27,Maharashtra,1566,8132170,7982217,148387,1658,8132465,7982418,148389,03-Nov-2022 10:47:09
21,14,Manipur,16,139885,137720,2149,15,139885,137721,2149,03-Nov-2022 10:47:09
22,17,Meghalaya,14,96764,95126,1624,14,96765,95127,1624,03-Nov-2022 10:47:09
23,15,Mizoram,33,238810,238051,726,27,238817,238064,726,03-Nov-2022 10:47:09
24,13,Nagaland,7,35982,35193,782,8,35984,35194,782,03-Nov-2022 10:47:09
25,21,Odisha,271,1336169,1326695,9203,264,1336195,1326728,9203,03-Nov-2022 10:47:09
26,34,Puducherry,137,175394,173282,1975,111,175401,173315,1975,03-Nov-2022 10:47:09
27,3,Punjab**,106,785196,764578,19289,106,785204,764586,19289,03-Nov-2022 10:47:09
28,8,Rajasthan,317,1314479,1304516,9646,361,1314531,1304524,9646,03-Nov-2022 10:47:09
29,11,Sikkim,11,44291,43782,498,14,44294,43782,498,03-Nov-2022 10:47:09
30,33,Tamil Nadu,1492,3592187,3552647,38048,1395,3592326,3552883,38048,03-Nov-2022 10:47:09
31,36,Telangana,518,840275,835646,4111,509,840345,835725,4111,03-Nov-2022 10:47:09
32,16,Tripura,29,108018,107049,940,23,108019,107056,940,03-Nov-2022 10:47:09
33,5,Uttarakhand,63,449154,441340,7751,71,449167,441345,7751,03-Nov-2022 10:47:09
34,9,Uttar Pradesh,309,2127588,2103651,23628,309,2127633,2103696,23628,03-Nov-2022 10:47:09
35,19,West Bengal,578,2118049,2095944,21527,527,2118083,2096028,21528,03-Nov-2022 10:47:09

In [8]:
# To avoid the corruption of the data assign a copy of the series which will make it completely independent
st1 = df.StateCode.copy()

In [10]:
st1.iloc[2]= 55

In [11]:
st1

0     35
1     28
2     55
3     18
4     10
5      4
6     22
7     26
8      7
9     30
10    24
11     6
12     2
13     1
14    20
15    29
16    32
17    37
18    31
19    23
20    27
21    14
22    17
23    15
24    13
25    21
26    34
27     3
28     8
29    11
30    33
31    36
32    16
33     5
34     9
35    19
Name: StateCode, dtype: int64

In [12]:
df

,StateCode,State Name,Active Cases (Yesterday),Positive Cases (Yesterday),Cured Cases (Yesterday),Death Cases (Yesterday),Active Cases (Today),Positive Cases (Today),Cured Cases (Today),Death Cases (Today),Last Updated (IST)
0,35,Andaman and Nicobar Islands,7,10737,10601,129,9,10740,10602,129,03-Nov-2022 10:47:09
1,28,Andhra Pradesh,139,2338949,2324077,14733,129,2338961,2324099,14733,03-Nov-2022 10:47:09
2,455,Arunachal Pradesh,4,66879,66579,296,5,66880,66579,296,03-Nov-2022 10:47:09
3,18,Assam,2562,746059,735462,8035,2558,746065,735472,8035,03-Nov-2022 10:47:09
4,10,Bihar,98,851214,838814,12302,76,851215,838837,12302,03-Nov-2022 10:47:09
5,4,Chandigarh,10,99299,98108,1181,16,99305,98108,1181,03-Nov-2022 10:47:09
6,22,Chhattisgarh,160,1177550,1163247,14143,157,1177571,1163271,14143,03-Nov-2022 10:47:09
7,26,Dadra and Nagar Haveli and Daman and Diu,1,11588,11583,4,1,11588,11583,4,03-Nov-2022 10:47:09
8,7,Delhi,353,2006266,1979404,26509,306,2006324,1979509,26509,03-Nov-2022 10:47:09
9,30,Goa*,103,258749,254633,4013,105,258773,254655,4013,03-Nov-2022 10:47:09
10,24,Gujarat,383,1276839,1265417,11039,423,1276896,1265434,11039,03-Nov-2022 10:47:09
11,6,Haryana,225,1056186,1045249,10712,208,1056215,1045295,10712,03-Nov-2022 10:47:09
12,2,Himachal Pradesh,29,312458,308218,4211,29,312460,308220,4211,03-Nov-2022 10:47:09
13,1,Jammu and Kashmir,29,479295,474481,4785,32,479300,474483,4785,03-Nov-2022 10:47:09
14,20,Jharkhand,48,442544,437165,5331,49,442546,437166,5331,03-Nov-2022 10:47:09
15,29,Karnataka,2184,4069097,4026614,40299,2174,4069207,4026734,40299,03-Nov-2022 10:47:09
16,32,Kerala,3148,6822138,6747602,71393,3116,6822408,6747899,71393,03-Nov-2022 10:47:09
17,37,Ladakh,7,29393,29155,231,7,29394,29156,231,03-Nov-2022 10:47:09
18,31,Lakshadweep,0,11415,11363,52,0,11415,11363,52,03-Nov-2022 10:47:09
19,23,Madhya Pradesh,63,1054762,1043924,10775,63,1054772,1043933,10776,03-Nov-2022 10:47:09
20,27,Maharashtra,1566,8132170,7982217,148387,1658,8132465,7982418,148389,03-Nov-2022 10:47:09
21,14,Manipur,16,139885,137720,2149,15,139885,137721,2149,03-Nov-2022 10:47:09
22,17,Meghalaya,14,96764,95126,1624,14,96765,95127,1624,03-Nov-2022 10:47:09
23,15,Mizoram,33,238810,238051,726,27,238817,238064,726,03-Nov-2022 10:47:09
24,13,Nagaland,7,35982,35193,782,8,35984,35194,782,03-Nov-2022 10:47:09
25,21,Odisha,271,1336169,1326695,9203,264,1336195,1326728,9203,03-Nov-2022 10:47:09
26,34,Puducherry,137,175394,173282,1975,111,175401,173315,1975,03-Nov-2022 10:47:09
27,3,Punjab**,106,785196,764578,19289,106,785204,764586,19289,03-Nov-2022 10:47:09
28,8,Rajasthan,317,1314479,1304516,9646,361,1314531,1304524,9646,03-Nov-2022 10:47:09
29,11,Sikkim,11,44291,43782,498,14,44294,43782,498,03-Nov-2022 10:47:09
30,33,Tamil Nadu,1492,3592187,3552647,38048,1395,3592326,3552883,38048,03-Nov-2022 10:47:09
31,36,Telangana,518,840275,835646,4111,509,840345,835725,4111,03-Nov-2022 10:47:09
32,16,Tripura,29,108018,107049,940,23,108019,107056,940,03-Nov-2022 10:47:09
33,5,Uttarakhand,63,449154,441340,7751,71,449167,441345,7751,03-Nov-2022 10:47:09
34,9,Uttar Pradesh,309,2127588,2103651,23628,309,2127633,2103696,23628,03-Nov-2022 10:47:09
35,19,West Bengal,578,2118049,2095944,21527,527,2118083,2096028,21528,03-Nov-2022 10:47:09