In [2]:
import pandas as pd

In [6]:
# To open Excel file we need openpyxl module to be installed in the environment
!pip install openpyxl

Requirement already satisfied: openpyxl in /opt/conda/lib/python3.10/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.10/site-packages (from openpyxl) (1.1.0)

In [3]:
df = pd.read_excel("/kaggle/input/covid19-excel-dataset-with-interactive-dashboard/Covid Dashboard.xlsx")

In [4]:
df

,State/UTs,Zone,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Discharge Avg,Death Ratio,Death Avg,Population
0,Andaman and Nicobar,South,7670,7,7534,129,0.09,98.23,Below Average,1.68,Above Average,399001
1,Andhra Pradesh,South,2069770,3128,2052230,14412,0.15,99.15,Above Average,0.70,Below Average,91702478
2,Arunachal Pradesh,East,55216,42,54894,280,0.08,99.42,Above Average,0.51,Below Average,1711947
3,Assam,East,613784,3272,604465,6047,0.53,98.48,Above Average,0.99,Below Average,35998752
4,Bihar,East,726153,29,716462,9662,0.00,98.67,Above Average,1.33,Above Average,128500364
5,Chandigarh,North,65380,24,64536,820,0.04,98.71,Above Average,1.25,Below Average,1158040
6,Chhattisgarh,East,1006326,230,992508,13588,0.02,98.63,Above Average,1.35,Above Average,32199722
7,Daman and Diu,West,10682,0,10678,4,0.00,99.96,Above Average,0.04,Below Average,773997
8,Delhi,North,1440388,361,1414934,25093,0.03,98.23,Below Average,1.74,Above Average,19301096
9,Goa,West,178467,263,174830,3374,0.15,97.96,Below Average,1.89,Above Average,1521992
10,Gujarat,West,826924,226,816608,10090,0.03,98.75,Above Average,1.22,Below Average,70400153
11,Haryana,North,771420,140,761230,10050,0.02,98.68,Above Average,1.30,Above Average,28900667
12,Himachal Pradesh,North,225712,1100,220800,3812,0.49,97.82,Below Average,1.69,Above Average,7503010
13,Jammu and Kashmir,North,334006,1450,328108,4448,0.43,98.23,Below Average,1.33,Above Average,14999397
14,Jharkhand,East,348992,141,343713,5138,0.04,98.49,Above Average,1.47,Above Average,40100376
15,Karnataka,South,2991614,8056,2945415,38143,0.27,98.46,Above Average,1.27,Below Average,69599762
16,Kerala,South,5055224,69258,4950281,35685,1.37,97.92,Below Average,0.71,Below Average,34698876
17,Ladakh,North,21148,154,20783,211,0.73,98.27,Below Average,1.00,Below Average,290492
18,Lakshadweep,South,10365,0,10314,51,0.00,99.51,Above Average,0.49,Below Average,66001
19,Madhya Pradesh,West,792956,75,782357,10524,0.01,98.66,Above Average,1.33,Above Average,85002417
20,Maharashtra,West,6623344,15866,6466913,140565,0.24,97.64,Below Average,2.12,Above Average,124904071
21,Manipur,East,124432,799,121687,1946,0.64,97.79,Below Average,1.56,Above Average,3436948
22,Meghalaya,East,84013,277,82274,1462,0.33,97.93,Below Average,1.74,Above Average,3772103
23,Mizoram,East,128604,5651,122494,459,4.39,95.25,Below Average,0.36,Below Average,1308967
24,Nagaland,East,31978,163,31123,692,0.51,97.33,Below Average,2.16,Above Average,2073074
25,Odisha,East,1045209,2534,1034300,8375,0.24,98.96,Above Average,0.80,Below Average,47099270
26,Puducherry,South,128401,275,126263,1863,0.21,98.33,Below Average,1.45,Above Average,1646050
27,Punjab,North,602778,318,585889,16571,0.05,97.20,Below Average,2.75,Above Average,30501026
28,Rajasthan,West,954503,71,945478,8954,0.01,99.05,Above Average,0.94,Below Average,79502477
29,Sikkim,East,32096,121,31575,400,0.38,98.38,Above Average,1.25,Below Average,658019
30,Tamil Nadu,South,2714025,9751,2668001,36273,0.36,98.30,Below Average,1.34,Above Average,83697770
31,Telengana,South,673469,3741,665755,3973,0.56,98.85,Above Average,0.59,Below Average,38157311
32,Tripura,East,84665,116,83732,817,0.14,98.90,Above Average,0.96,Below Average,4184959
33,Uttar Pradesh,North,1710261,90,1687262,22909,0.01,98.66,Above Average,1.34,Above Average,231502578
34,Uttarakhand,North,344014,158,336453,7403,0.05,97.80,Below Average,2.15,Above Average,11700099
35,West Bengal,East,1603318,8031,1575980,19307,0.50,98.29,Below Average,1.20,Below Average,100896618

In [7]:
df.head()

,State/UTs,Zone,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Discharge Avg,Death Ratio,Death Avg,Population
0,Andaman and Nicobar,South,7670,7,7534,129,0.09,98.23,Below Average,1.68,Above Average,399001
1,Andhra Pradesh,South,2069770,3128,2052230,14412,0.15,99.15,Above Average,0.70,Below Average,91702478
2,Arunachal Pradesh,East,55216,42,54894,280,0.08,99.42,Above Average,0.51,Below Average,1711947
3,Assam,East,613784,3272,604465,6047,0.53,98.48,Above Average,0.99,Below Average,35998752
4,Bihar,East,726153,29,716462,9662,0.00,98.67,Above Average,1.33,Above Average,128500364

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   State/UTs        36 non-null     object
 1   Zone             36 non-null     object
 2   Total Cases      36 non-null     int64
 3   Active           36 non-null     int64
 4   Discharged       36 non-null     int64
 5   Deaths           36 non-null     int64
 6   Active Ratio     36 non-null     float64
 7   Discharge Ratio  36 non-null     float64
 8   Discharge Avg    36 non-null     object
 9   Death Ratio      36 non-null     float64
 10  Death Avg        36 non-null     object
 11  Population       36 non-null     int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.5+ KB

In [9]:
df.isnull().sum()

State/UTs          0
Zone               0
Total Cases        0
Active             0
Discharged         0
Deaths             0
Active Ratio       0
Discharge Ratio    0
Discharge Avg      0
Death Ratio        0
Death Avg          0
Population         0
dtype: int64

In [11]:
df.describe()

,Total Cases,Active,Discharged,Deaths,Active Ratio,Discharge Ratio,Death Ratio,Population
count,3.600000e+01,36.00000,3.600000e+01,36.000000,36.000000,36.000000,36.000000,3.600000e+01
mean,9.565919e+05,3775.50000,9.399405e+05,12875.833333,0.363889,98.358056,1.277778,3.971861e+07
std,1.432317e+06,11756.13309,1.402230e+06,24364.269113,0.747557,0.791010,0.561773,5.050913e+07
min,7.670000e+03,0.00000,7.534000e+03,4.000000,0.000000,95.250000,0.040000,6.600100e+04
25%,8.450200e+04,109.50000,8.336750e+04,819.250000,0.030000,97.952500,0.955000,1.695473e+06
50%,4.758850e+05,246.50000,4.648010e+05,5592.500000,0.150000,98.420000,1.315000,2.410088e+07
75%,1.016047e+06,2682.50000,1.002956e+06,13794.000000,0.445000,98.720000,1.590000,6.979986e+07
max,6.623344e+06,69258.00000,6.466913e+06,140565.000000,4.390000,99.960000,2.750000,2.315026e+08