In [ ]:
# Import the library
import pandas as pd

In [7]:
# Get the data
df = pd.read_csv("/content/drive/MyDrive/Project/Practice set/StatewiseTestingDetails.csv", index_col="Date")

In [8]:
# Check the head()
df.head()

                                  State  TotalSamples Negative  Positive
Date
2020-04-17  Andaman and Nicobar Islands        1403.0     1210      12.0
2020-04-24  Andaman and Nicobar Islands        2679.0      NaN      27.0
2020-04-27  Andaman and Nicobar Islands        2848.0      NaN      33.0
2020-05-01  Andaman and Nicobar Islands        3754.0      NaN      33.0
2020-05-16  Andaman and Nicobar Islands        6677.0      NaN      33.0

In [9]:
# Check the info()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16336 entries, 2020-04-17 to 2021-08-10
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         16336 non-null  object
 1   TotalSamples  16336 non-null  float64
 2   Negative      6969 non-null   object
 3   Positive      5662 non-null   float64
dtypes: float64(2), object(2)
memory usage: 638.1+ KB

In [10]:
# Assign one Column into a variable
st = df.State

In [11]:
# Check the head of the series
st.head()

Date
2020-04-17    Andaman and Nicobar Islands
2020-04-24    Andaman and Nicobar Islands
2020-04-27    Andaman and Nicobar Islands
2020-05-01    Andaman and Nicobar Islands
2020-05-16    Andaman and Nicobar Islands
Name: State, dtype: object

In [12]:
# Check the tail
st.tail()

Date
2021-08-06    West Bengal
2021-08-07    West Bengal
2021-08-08    West Bengal
2021-08-09    West Bengal
2021-08-10    West Bengal
Name: State, dtype: object

In [13]:
# Check the type
type(st)

pandas.core.series.Series

In [14]:
type(df)

pandas.core.frame.DataFrame

In [16]:
# Check the shape
st.shape

(16336,)

In [17]:
# describe() the series
st.describe()

count      16336
unique        36
top       Kerala
freq         497
Name: State, dtype: object

In [18]:
# Check the size
st.size

16336

In [19]:
# Check the count()
st.count()

16336

In [20]:
# Check the min()
st.min()

'Andaman and Nicobar Islands'

In [21]:
# Get the unique() values
st.unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli and Daman and Diu',
       'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Ladakh',
       'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana',
       'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal'],
      dtype=object)

In [22]:
# Check the length of the unique values
len(st.unique())

36

In [23]:
# Check nunique() values
st.nunique()

36

In [24]:
# Check value_counts()
st.value_counts()

Kerala                                      497
West Bengal                                 493
Haryana                                     492
Odisha                                      492
Madhya Pradesh                              492
Rajasthan                                   491
Tamil Nadu                                  491
Uttarakhand                                 491
Karnataka                                   491
Punjab                                      491
Uttar Pradesh                               490
Jammu and Kashmir                           489
Delhi                                       489
Bihar                                       489
Himachal Pradesh                            488
Andhra Pradesh                              488
Maharashtra                                 488
Gujarat                                     487
Jharkhand                                   484
Nagaland                                    484
Goa                                         483
Chhattisgarh                                482
Chandigarh                                  479
Puducherry                                  478
Arunachal Pradesh                           477
Assam                                       469
Mizoram                                     465
Andaman and Nicobar Islands                 453
Tripura                                     447
Telangana                                   419
Sikkim                                      413
Meghalaya                                   409
Manipur                                     406
Ladakh                                      294
Lakshadweep                                 195
Dadra and Nagar Haveli and Daman and Diu    170
Name: State, dtype: int64

In [ ]:
# Explore the options in value_counts()
# Dropna, sort, ascending, normalize, bins

In [26]:
st.value_counts(dropna=False)

Kerala                                      497
West Bengal                                 493
Haryana                                     492
Odisha                                      492
Madhya Pradesh                              492
Rajasthan                                   491
Tamil Nadu                                  491
Uttarakhand                                 491
Karnataka                                   491
Punjab                                      491
Uttar Pradesh                               490
Jammu and Kashmir                           489
Delhi                                       489
Bihar                                       489
Himachal Pradesh                            488
Andhra Pradesh                              488
Maharashtra                                 488
Gujarat                                     487
Jharkhand                                   484
Nagaland                                    484
Goa                                         483
Chhattisgarh                                482
Chandigarh                                  479
Puducherry                                  478
Arunachal Pradesh                           477
Assam                                       469
Mizoram                                     465
Andaman and Nicobar Islands                 453
Tripura                                     447
Telangana                                   419
Sikkim                                      413
Meghalaya                                   409
Manipur                                     406
Ladakh                                      294
Lakshadweep                                 195
Dadra and Nagar Haveli and Daman and Diu    170
Name: State, dtype: int64

In [25]:
st.value_counts(ascending=True)

Dadra and Nagar Haveli and Daman and Diu    170
Lakshadweep                                 195
Ladakh                                      294
Manipur                                     406
Meghalaya                                   409
Sikkim                                      413
Telangana                                   419
Tripura                                     447
Andaman and Nicobar Islands                 453
Mizoram                                     465
Assam                                       469
Arunachal Pradesh                           477
Puducherry                                  478
Chandigarh                                  479
Chhattisgarh                                482
Goa                                         483
Jharkhand                                   484
Nagaland                                    484
Gujarat                                     487
Andhra Pradesh                              488
Himachal Pradesh                            488
Maharashtra                                 488
Bihar                                       489
Jammu and Kashmir                           489
Delhi                                       489
Uttar Pradesh                               490
Uttarakhand                                 491
Punjab                                      491
Rajasthan                                   491
Karnataka                                   491
Tamil Nadu                                  491
Madhya Pradesh                              492
Odisha                                      492
Haryana                                     492
West Bengal                                 493
Kerala                                      497
Name: State, dtype: int64

In [28]:
st.value_counts(normalize=True).mul(100).round(0)

Kerala                                      3.0
West Bengal                                 3.0
Haryana                                     3.0
Odisha                                      3.0
Madhya Pradesh                              3.0
Rajasthan                                   3.0
Tamil Nadu                                  3.0
Uttarakhand                                 3.0
Karnataka                                   3.0
Punjab                                      3.0
Uttar Pradesh                               3.0
Jammu and Kashmir                           3.0
Delhi                                       3.0
Bihar                                       3.0
Himachal Pradesh                            3.0
Andhra Pradesh                              3.0
Maharashtra                                 3.0
Gujarat                                     3.0
Jharkhand                                   3.0
Nagaland                                    3.0
Goa                                         3.0
Chhattisgarh                                3.0
Chandigarh                                  3.0
Puducherry                                  3.0
Arunachal Pradesh                           3.0
Assam                                       3.0
Mizoram                                     3.0
Andaman and Nicobar Islands                 3.0
Tripura                                     3.0
Telangana                                   3.0
Sikkim                                      3.0
Meghalaya                                   3.0
Manipur                                     2.0
Ladakh                                      2.0
Lakshadweep                                 1.0
Dadra and Nagar Haveli and Daman and Diu    1.0
Name: State, dtype: float64

In [29]:
st.value_counts(bins=10)

TypeError: ignored