
##Dictionaries in Python Worksheet 6.3

Question - 1 : Write a python program to create a Dictionary with Key as First Character and Value as Words Starting with that Character

i.e :  

Input: Hello World

Output:

          {'H': ['Hello'],

         'W': ['World']}

In [ ]:
#write your code here

In [10]:
string_input = 'Hello World'
words = string_input.split()

dictionary = {}

for word in words:
    if (word[0] not in dictionary.keys()):
        dictionary[word[0]] = []
        dictionary[word[0]].append(word)
    else:
        if (word not in dictionary[word[0]]):
            dictionary[word[0]].append(word)

print(dictionary)

{'H': ['Hello'], 'W': ['World']}

Question - 2 : Write a python program  to read roll numbers and marks of  four student and create a dictionary from it having roll numbers as keys and marks as values.

In [ ]:
#write your code here.

In [9]:
nro=[]
mks=[]

for a in range(4):
  r = int(input("Enter the roll no. : "))
  m = float(input("Enter the roll Marks : "))

  nro.append(r)
  mks.append(m)


d={nro[0]:mks[0] , nro[1]:mks[1] , nro[2]:mks[2] ,nro[3]:mks[3]}

print(d)

Enter the roll no. : 27
Enter the roll Marks : 94
Enter the roll no. : 28
Enter the roll Marks : 88
Enter the roll no. : 29
Enter the roll Marks : 85
Enter the roll no. : 30
Enter the roll Marks : 45
{27: 94.0, 28: 88.0, 29: 85.0, 30: 45.0}

Question - 3 : Write a python program  to delete a whole dictionaries.

d = {

  'a': 10 ,
  'b' : 20,
  'c' : 40 ,
  'd' : 50

}

In [ ]:
#write your code here.

In [8]:
d = {

  'a': 10 ,
  'b' : 20,
  'c' : 40 ,
  'd' : 50

}

d.clear()

d

{}

Question - 4 : Write a python program to print a dictionary where the keys are numbers between 1 and 20 (both included) and the values are square of keys.

In [ ]:
#write your code here.

In [7]:
d=dict()
for x in range(1,21):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

Question - 5 : Write a python program  to use pop() and popitem() functions on given dictionary.

d = {

  'a': 10 ,
  'b' : 20,
  'c' : 40 ,
  'd' : 50

}

In [ ]:
#write your code here.

In [6]:
d = {

  'a': 10 ,
  'b' : 20,
  'c' : 40 ,
  'd' : 50

}
d.pop('a')

d.popitem() # delete last elements

d

{'b': 20, 'c': 40}

Question - 6 : Write a python program  to update a dictionary (add some keys , values).

d = {

  'a': 10 ,
  'b' : 20,
  'c' : 40 ,
  'd' : 50

}

In [ ]:
#write your code here.

In [5]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)
d1 = {3: "three"}
# adds element with key 3
d.update(d1)

d

{1: 'one', 2: 'two', 3: 'three'}

Question - 7 : Write a python program  to create a phone dictionary for all friends and print each keys and values pair in separate lines.

ouput :

rajit : 9010203040

nikhil : 9910203040

gaurav : 8810203040

In [ ]:
#write your code here.

In [4]:
phone = {"rajit":9010203040 , "nikhil":9910203040 , "gaurav":8810203040}

for name in phone:
  print(name , " : ",phone[name])

rajit  :  9010203040
nikhil  :  9910203040
gaurav  :  8810203040

Question - 8 : Write a python program  to create empty dictionary by two way.

In [ ]:
#write your code here.

In [3]:
# first way to create empty

d= {}

#second  way of create empty dictionary
d1 = dict()
d

{}

Question - 9 : Write a python program to print only even indexes value.

d = {

  'a': 10 ,
  'b' : 20,
  'c' : 42 ,
  'd' : 50 ,
  'e' : 61 ,
  'f' : 70 ,
  'g' : 81 ,
  'h' : 100

}

In [ ]:
#write your code here.

In [2]:
d = {

  'a': 10 ,
  'b' : 20,
  'c' : 42 ,
  'd' : 50 ,
  'e' : 61 ,
  'f' : 70 ,
  'g' : 81 ,
  'h' : 100

}


lt = list(d.values())
lt1= []
for x in range(0 , len(lt)):
  if lt[x]%2==0:
    lt1.append(lt[x])
  else:
    pass

lt1

[10, 20, 42, 50, 70, 100]

Question - 10 : Write a python program to create a dict object from explicit key-value pairs using the assignment operator (=) :

In [ ]:
#write your code here.

In [1]:
dict_assigned = dict(a=0, b=1, c=2)
dict_assigned

{'a': 0, 'b': 1, 'c': 2}