In [2]:
# Create list baseball
points = [180,215,210,180,176,209,200]

# Import the NumPy package as np
import numpy as np

#Create a numpy array from points: np_points
np_points = np.array(points)

# Print out type of np_points
print(np_points)
print(type(np_points))

[180 215 210 180 176 209 200]
<class 'numpy.ndarray'>

In [4]:
height_in = [74,74,72,72,73,69,71,76,71,73,73,74,69,70,73,75,78,79,76,74,76,72,71,75,77,74,73,74,78,73,75,73,75,75,74,71,78,75,62,69,71,78,79,75,77,66,75,62]

In [5]:
# Import numpy
import numpy as np

# Create a numpy array from height_in: np_height_in
np_height_in = np.array(height_in)

# Print out np_height_in
print(np_height_in)

# Convert np_height_in to m: np_height_m
# 1 inch = 0.0254 m
np_height_m = 0.0254*np_height_in

# Print np_height_m
print(np_height_m)
print(type(np_height_m))

[74 74 72 72 73 69 71 76 71 73 73 74 69 70 73 75 78 79 76 74 76 72 71 75
 77 74 73 74 78 73 75 73 75 75 74 71 78 75 62 69 71 78 79 75 77 66 75 62]
[1.8796 1.8796 1.8288 1.8288 1.8542 1.7526 1.8034 1.9304 1.8034 1.8542
 1.8542 1.8796 1.7526 1.778  1.8542 1.905  1.9812 2.0066 1.9304 1.8796
 1.9304 1.8288 1.8034 1.905  1.9558 1.8796 1.8542 1.8796 1.9812 1.8542
 1.905  1.8542 1.905  1.905  1.8796 1.8034 1.9812 1.905  1.5748 1.7526
 1.8034 1.9812 2.0066 1.905  1.9558 1.6764 1.905  1.5748]
<class 'numpy.ndarray'>

In [7]:
height_in = [74,74,72,72,73,69,71,76,71,73,73,74,69,70,73,75,78,79,76,74,76,72,71,75,77,74,73,74,78,73,75,73,75,75,74,71,78,75,62,69,71,78,79,75,77,66,75,62]
weight_lb = [180,215,210,210,188,176,209,200,231,180,188,180,105,160,180,185,109,185,189,105,215,230,195,180,192,230,185,180,185,185,219,215,108,105,107,290]

In [19]:
# Height and weight are available as regular lists

# Import numpy
import numpy as np

# Create array from height_in with metric units: np_height_m
# lm = 0.0254 in
np_height_in = np.array(height_in)
np_height_m = 0.0254*np_height_in
np_height_m = np.expand_dims(np_height_m, axis=-1)


# Create array from weight_lb with metric units: np_weight_kg
# 1kg = 0.453592lb
np_weight_lb = np.array(weight_lb)
np_weight_kg = 0.453592*np_weight_lb

# Calculate the BMI: bmi
bmi=np_weight_kg/np_height_m**2

# Print out bmi
print(bmi)

[[23.11037639 27.60406069 26.96210579 ... 13.48105289 13.73783485
  37.23338418]
 [23.11037639 27.60406069 26.96210579 ... 13.48105289 13.73783485
  37.23338418]
 [24.41211827 29.15891904 28.48080465 ... 14.24040232 14.51164808
  39.33063499]
 ...
 [29.05243827 34.70152349 33.89451132 ... 16.94725566 17.27006053
  46.8067061 ]
 [22.4982082  26.87285979 26.24790956 ... 13.12395478 13.37393487
  36.24711321]
 [32.92206584 39.32357865 38.40907682 ... 19.20453841 19.57033914
  53.04110608]]

In [20]:
# Height and weight are availabele as a regular lists

# Import numpy
import numpy as np

# Store weight and height lists as numpy arrays
np_height_in = np.array(height_in)
np_weight_lb = np.array(weight_lb)

# Print out the weight at index 50
print(np_weight_lb[15])

# Print out sub-array of np_height_in: index 100 up to and including index 110
print(np_height_in[15:25])

185
[75 78 79 76 74 76 72 71 75 77]