# **Analyzing numerical Series**

In [2]:
# Importing the library
import pandas as pd

In [3]:
# Read the data
df = pd.read_csv("/content/drive/MyDrive/Project/Practice set/athlete_events.csv", index_col="ID")

In [4]:
df.head()

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
ID,,,,,,,,,,,,,,
1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
# Assign one of the series to a variable
b = df.Weight

In [6]:
# Check the datatype
type(b)

pandas.core.series.Series

In [7]:
type(df)

pandas.core.frame.DataFrame

In [8]:
# Get the count()
b.count()

208241

In [9]:
# Check the size
b.size

271116

In [11]:
# Check the length
len(b)

271116

In [12]:
# Check the sum()
b.sum()

14723137.0

In [ ]:
# Difference between pandas method sum() and in-built function sum()

# In-built function to sum all the value with null value so they give not proper ansewer
# But in series using sum() method to ignore tha null value and sum all the value and give answer

In [13]:
# Check mean ()
b.mean()

70.70239290053351

In [14]:
# Check median()
b.median()

70.0

In [15]:
# Check std()
b.std()

14.348019999019392

In [17]:
# Check min()
b.min()

25.0

In [18]:
# Check max()
b.max()

214.0

In [19]:
# Check unique() values
b.unique()

array([ 80.        ,  60.        ,          nan,  82.        ,
        75.        ,  72.        ,  96.        ,  76.5       ,
        70.        ,  55.5       ,  65.        ,  85.        ,
        64.        , 130.        , 125.        ,  89.        ,
        77.        ,  76.        ,  98.        ,  78.        ,
        73.        ,  93.        ,  74.        , 106.        ,
        58.        ,  66.        ,  71.        ,  90.        ,
        87.        ,  49.        ,  48.        ,  83.        ,
        86.        ,  55.        ,  67.        ,  97.        ,
       105.        ,  43.        ,  79.        ,  51.        ,
        88.        ,  62.        ,  53.        , 104.        ,
        57.        ,  63.        ,  52.        ,  91.        ,
        94.        ,  56.        ,  68.        ,  61.        ,
        69.        ,  46.        , 100.        ,  81.        ,
        92.        , 120.        ,  95.        ,  59.        ,
        50.        , 117.5       ,  54.        ,  47.        ,
       117.        ,  84.        , 102.        ,  40.        ,
       115.        , 110.        ,  45.        ,  99.        ,
       109.        ,  69.5       , 135.        ,  38.        ,
        77.5       , 103.        , 163.        , 113.        ,
        42.        ,  91.5       ,  82.5       ,  68.5       ,
       116.        , 107.        ,  96.5       ,  83.5       ,
        44.        , 122.        , 102.5       ,  71.5       ,
       156.        , 150.        , 160.        ,  95.5       ,
       101.        , 146.        , 138.        , 112.        ,
       108.        , 140.        , 141.        ,  63.5       ,
       114.        , 118.        ,  52.5       , 127.        ,
        39.        ,  73.5       , 155.        ,  74.5       ,
        32.        , 143.        , 133.        ,  70.5       ,
       126.        ,  53.5       , 121.        ,  67.5       ,
       111.        , 123.5       ,  41.        ,  36.        ,
       132.        , 128.        ,  65.5       ,  98.5       ,
       124.        ,  59.5       ,  66.5       , 127.5       ,
        35.        , 144.        ,  58.5       , 214.        ,
        81.5       ,  37.        , 146.5       , 116.5       ,
       148.        , 123.        ,  89.5       , 133.5       ,
        86.5       ,  85.5       , 101.5       , 154.        ,
       139.        ,  57.5       , 136.        ,  54.5       ,
       137.        , 170.        ,  30.        ,  25.        ,
        77.33333333, 131.        ,  79.5       ,  34.        ,
       119.        , 134.        ,  33.        , 109.5       ,
        90.5       , 129.        , 147.        ,  56.5       ,
        78.5       , 165.        ,  88.5       ,  62.5       ,
        60.5       , 158.        ,  75.5       , 190.        ,
        64.5       , 145.        , 121.5       ,  61.5       ,
       161.        , 176.5       ,  87.5       , 100.5       ,
       149.        , 152.        , 108.5       ,  28.        ,
        48.5       , 138.5       ,  72.5       , 129.5       ,
       131.5       , 167.        ,  84.5       ,  49.5       ,
        51.5       , 112.5       , 118.5       , 142.        ,
        80.5       , 106.5       , 107.5       ,  31.        ,
       135.5       , 137.5       ,  93.5       ,  97.5       ,
       103.5       , 175.        , 151.        , 198.        ,
       178.        ,  92.5       , 180.        , 104.5       ,
       105.5       , 122.5       , 182.        ,  74.66666667,
       130.5       ])

In [20]:
# Check length of unique() values
len(b.unique())

221

In [21]:
# Check unique() values dropping na values using unique()method
b.nunique()

220

In [22]:
# Explore the option in value_counts()
# Sort, ascending, normalize, bins
# Check the unique values using value _counts()
b.value_counts()

70.0     9625
60.0     7994
75.0     7810
68.0     7284
65.0     7236
         ...
190.0       1
180.0       1
149.0       1
48.5        1
198.0       1
Name: Weight, Length: 220, dtype: int64

In [23]:
b.value_counts(ascending=True)

149.0       1
190.0       1
48.5        1
180.0       1
178.0       1
         ...
65.0     7236
68.0     7284
75.0     7810
60.0     7994
70.0     9625
Name: Weight, Length: 220, dtype: int64

In [25]:
b.value_counts(normalize=True).mul(100).round(0)

70.0     5.0
60.0     4.0
75.0     4.0
68.0     3.0
65.0     3.0
        ...
190.0    0.0
180.0    0.0
149.0    0.0
48.5     0.0
198.0    0.0
Name: Weight, Length: 220, dtype: float64

In [27]:
b.value_counts(bins=10)

(62.8, 81.7]      103919
(43.9, 62.8]       59523
(81.7, 100.6]      36880
(100.6, 119.5]      3876
(24.81, 43.9]       2539
(119.5, 138.4]      1253
(138.4, 157.3]       200
(157.3, 176.2]        41
(176.2, 195.1]         7
(195.1, 214.0]         3
Name: Weight, dtype: int64

In [28]:
b.value_counts(bins=10,ascending=True)

(195.1, 214.0]         3
(176.2, 195.1]         7
(157.3, 176.2]        41
(138.4, 157.3]       200
(119.5, 138.4]      1253
(24.81, 43.9]       2539
(100.6, 119.5]      3876
(81.7, 100.6]      36880
(43.9, 62.8]       59523
(62.8, 81.7]      103919
Name: Weight, dtype: int64